networks:
  default:
    name: gw_net
    external: true

services:
  gw:
    image: "${DOCKER_IMAGE}"
    restart: ${RESTART}
    container_name: gw${ID}
    networks:
      default:
        aliases:
          - "${ROOM}"
    tmpfs:
      - /tmp
    volumes:
      - ./logs:/var/logs
    devices:
      - /dev/video${ID}:/dev/video0
      - /dev/snd:/dev/snd
    shm_size: '2gb'
    logging:
      driver: syslog
      options:
        tag: "{{.ImageName}}/{{.Name}}"
    env_file:
      - .env
      - deploy/.env_kamailio
      - deploy/.env_turn
    environment:
      TZ: "${HOST_TZ}" # Time Zone
      GW_ID: "${ID}"
      SIP_NAME_PREFIX: "${PREFIX}"
      ROOM_NAME: "${ROOM}"
      WEBRTC_DOMAIN: "${DOMAIN}"
      RTMP_DST_URI: "${RTMP_DST}"
    stop_grace_period: 20s
