[Unit]
Description=coturn_docker
After=docker.service
Requires=docker.service
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
Restart=always
TimeoutStartSec=0
RestartSec=1
WorkingDirectory=/sipmediagw/deploy
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/docker compose -p coturn up --force-recreate turn_server
ExecStop=/usr/bin/docker compose -p coturn down

[Install]
WantedBy=multi-user.target
