[Unit]
Description=sipmediagw
After=docker.service
Requires=docker.service
After=network-online.target
Requires=network-online.target

[Service]
Type=forking
EnvironmentFile=/etc/environment

ExecStart=/bin/bash /home/dfe/Documents/Projets/SIPMediaGW/deploy/services/start_all_gateways.bash

ExecStop=/bin/bash /home/dfe/Documents/Projets/SIPMediaGW/deploy/services/stop_all_gateways.bash

[Install]
WantedBy=multi-user.target
